<!DOCTYPE html>
<html>

<head>
    <%- include('header.ejs') %>
</head>

<body>
    <%- include('navbar1.ejs') %>

        <main role="main">

            <div class="jumbotron container text-left">
                <div class="row">
                    <div class="col-md-8">
                        <br>
                        <br>
                        <br>
                        <br>
                        <h1 id="title">Twoja Wirtualna Czytelnia.</h1>
                        <h4 id="title">Zanurz się w swojej ulubionej ksiażce.</h4>
                        <br>

                        <form action="/find" method="POST" id="szukaj1">
                            <div class="input-group">

                                <input type="search" name="find_item" class="form-control" placeholder="Wpisz tytuł, autora, kategorię lub serię" aria-label="Szukaj">

                                <div class="input-group-addon">

                                    <button class="btn btn-info" type="submit">
                                        <i class="fas fa-search"></i> Szukaj
                                    </button>
                                </div>
                            </div>

                            <span id="goToAdvancedSearch"> Zaawansowane wyszukiwanie </span>

                        </form>



                        
                        <form action="/find" method="POST" id="szukaj1_advanced" style="display:none;">
                            <div class="input-group">

                                <select name="search_for" class="form-control" id="search_for">
                                    <option value="title">tytuł</option>
                                    <option value="author">autor</option>
                                    <option value="category">kategoria</option>
                                    <option value="series">seria</option>
                                </select>

                                <input type="search" name="find_item" class="form-control" placeholder="Wpisz szukaną frazę" aria-label="Szukaj">

                                <div class="input-group-addon">
                                    <button class="btn btn-info" type="submit">
                                        <i class="fas fa-search"></i> Szukaj
                                    </button>
                                </div>

                            </div>
                            <span id="goToSimpleSearch"> Proste wyszukiwanie </span>
                        </form>



                    </div>
                    <div class="col-md-4 text-center">
                        <form action="/register" method="POST">
                            <h6> Dołącz do nas już teraz i wypróbuj serwis bezpłatnie przez 14 dni. </h6>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="E-mail" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Login" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Hasło" required>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" checked tabindex="3">
                                <label for="remember_me" class="greyText">Akceptuję
                                    <a href="/termsofuse">regulamin</a>
                                </label>
                                <button type="submit" class="btn btn-warning btn-block">Zarejestruj</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <hr>
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4 text-center" id="info">
                        <h5>
                            <strong> Szukasz następnej epickiej lektury? </strong>
                        </h5>
                        <br>
                        <div class="container text-justify">
                            Trafiłes we właściwe miejsce! Zdradź nam swoje ulubione gatunki, serie, ksiązki i ich autorów, a bedziemy w stanie polecić
                            Ci lektury dopasowane idealnie do Twoich gustów.
                        </div>
                    </div>
                    <div class="col-md-4 text-center" id="info">
                        <h5>
                            <strong> Nie masz czasu na wizytę w księgarni? </strong>
                        </h5>
                        <br>
                        <div class="container text-justify">
                            Nic straconego! Zapewnimy Ci stały i szybki dostęp do nowych książek. Kolejną lekturę zdobędziesz siedząc w swoim ulubionym
                            fotelu, po drodze do pracy czy stojąc w korku. Dzieli Cię od niej tylko kliknięcie!
                        </div>
                    </div>
                    <div class="col-md-4 text-center" id="info">
                        <h5>
                            <strong> Gubisz rachubę przeczytanych książek? </strong>
                        </h5>
                        <br>
                        <div class="container text-justify">
                            Z nami nic nie zginie! Zapiszemy w Twojej wirtualnej biblioteczce wszystkie książki, które przeczytałeś lub chcesz przeczytać
                            wraz z Twoimi ocenami, abyś w razie potrzeby szybko mógł znaleźć książki do których chcesz wrócić.
                        </div>
                    </div>
                </div>

            </div>
            <hr>
            <div class="container">
                <div class="container text-left">
                    <br>
                    <br>
                    <h3> Najwyżej oceniane: </h3>
                    <br>
                    <br>


                    <%if (booksArr !== undefined && booksArr !== null) { %>
                        <div id="books_container">

                            <div class="card-deck-wrapper">
                                <div class="card-deck text-center">
                                    <% booksArr.forEach( (book) => { %>

                                        <div class="card">
                                            <br>
                                            <img class="card-img-top img-fluid mx-auto d-block" src="/<%= book.image %>" alt="<%= book.title + " " + ' image' %>">
                                            <div class="card-body d-flex flex-column">
                                                <p class="card-text">
                                                    <strong>
                                                        <i>
                                                            <%= book.title %>
                                                        </i>
                                                    </strong>
                                                    <br>
                                                    <%= book.author %>
                                                </p>
                                                <a href="<%= '/book_profile/'+ book.book_id %>" class="btn btn-info btn-block mt-auto"> Więcej </a>
                                            </div>
                                        </div>

                                        <% }) %>
                                </div>
                            </div>

                        </div>

                        <% } %>
                </div>

            </div>
            <br>
            <br>
            <br>
            <br>

        </main>

        <%- include('footer.ejs') %>
</body>

</html>