<!DOCTYPE html>
<html>
    <head>
    <%- include('header.ejs') %>

    </head>
    <body class>
        <%if (user) { %>             <%- include('navbar.ejs') %>         <% } else { %>             <%- include('navbar1.ejs') %>         <% } %>

        <div class="container text-left">
            <br> <br>
            <h2>Moja biblioteczka</h2>
           
            <br> <br>  
            <div class="panel with-nav-tabs panel-info" role="tablist">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="nav-link active"><a data-toggle="tab" href="#czytam"> Teraz czytam </a></li>
                            <li><a data-toggle="tab" class="nav-link"href="#chce"> Chcę przeczytać </a></li>
                            <li><a data-toggle="tab" class="nav-link"href="#przeczytane"> Przecztane</a></li>
                            
                        </ul>
                    </div>
                    <div class="panel-body">
                            <div class="tab-content text-left">
                                    <div id="czytam" role="tabpanel" class="tab-pane fade show active">
                                            <br> <br> 
                                            <h4> Twoja półka Teraz czytam: </h4> 
                                            <%if (booksArr !== undefined && booksArr !== null) { %>
                                                
                                                <div id="books_container">
                                            
                                                    <div class="card-deck-wrapper" id ="shelf">
                                                        <div class="card-deck">
                                                            <% booksArr.forEach( (book) => { %>
                                                            <%if (book.idstatus == 3 ) { %>
                                                            <div class="card text-center">
                                                                <br>
                                                                <a href="book_read.ejs" title="Czytaj >>">
                                                                <img class="card-img-top img-fluid mx-auto d-block" src="/<%= book.image %>" alt="<%= book.title + " " + ' image' %>" >
                                                                </a>
                                                                <div class="card-body d-flex flex-column">
                                                                    <p class="card-text"><strong><i><%= book.title %></i></strong> <br>
                                                                        <%= book.author %></p>
                                                                    <a href="<%= '/book_profile/'+ book.idbooks %>" class="btn btn-info btn-block mt-auto"> Więcej </a>
                                                                </div>
                                                            </div>
                                                            <% } %>
                                                    
                                                            <% }) %>
                                                        </div>       
                                                    <% } %>
                                                    </div>
                                                </div>
                                    </div>
                                    <div id="chce"  role="tabpanel" class="tab-pane fade" >
                                            <br> <br> 
                                        <h4> Twoja półka Chcę przeczytać: </h4>
                                        <%if (booksArr !== undefined && booksArr !== null) { %>
                                        
                                        <div id="books_container">
                                    
                                            <div class="card-deck-wrapper" id ="shelf">
                                                <div class="card-deck">
                                                    <% booksArr.forEach( (book) => { %>
                                                    <%if (book.idstatus == 2 ) { %>
                                                    <div class="card text-center">
                                                        <br>
                                                        <a href="book_read.ejs" title="Czytaj >>">
                                                        <img class="card-img-top img-fluid mx-auto d-block" src="/<%= book.image %>" alt="<%= book.title + " " + ' image' %>" >
                                                        </a>
                                                        <div class="card-body d-flex flex-column">
                                                            <p class="card-text"><strong><i><%= book.title %></i></strong> <br>
                                                                <%= book.author %></p>
                                                            <a href="<%= '/book_profile/'+ book.idbooks %>" class="btn btn-info btn-block mt-auto"> Więcej </a>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                
                                                    <% }) %>
                                                </div>       
                                            <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="przeczytane"  role="tabpanel" class="tab-pane fade" >
                                        <br> <br>
                                            <h4>  Twoja półka Przeczytane: </h4>
                                            <%if (booksArr !== undefined && booksArr !== null) { %>
                                            
                                            <div class="books_container">
                                        
                                                <div class="card-deck-wrapper">
                                                    <div class="card-deck">
                                                        <% booksArr.forEach( (book) => { %>
                                                        <%if (book.idstatus == 1 ) { %>
                                                        <div class="card text-center">
                                                            <br>
                                                            <a href="book_read.ejs" title="Czytaj >>">
                                                            <img class="card-img-top img-fluid mx-auto d-block" src="/<%= book.image %>" alt="<%= book.title + " " + ' image' %>" >
                                                            </a>
                                                            <div class="card-body d-flex flex-column">
                                                                <p class="card-text"><strong><i><%= book.title %></i></strong> <br>
                                                                    <%= book.author %></p>
                                                                <a href="<%= '/book_profile/'+ book.idbooks %>" class="btn btn-info btn-block mt-auto"> Więcej </a>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                
                                                        <% }) %>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                    </div>
                </div>
        </div>
            <%- include('footer.ejs') %>   
    </body>
</html>
