<!DOCTYPE html>
<html>

<head>
  <%- include('header.ejs') %>
</head>

<body>
          <%if (user) { %>             <%- include('navbar.ejs') %>         <% } else { %>             <%- include('navbar1.ejs') %>         <% } %>

    <div class="container text-left">

    <h2>W serii <em><%= series %></em>:</h2>
    <hr>
     
          
    <%if (booksArr !== undefined && booksArr !== null) { %>
        <div id="books_container">

          <div class="card-deck-wrapper">
            <div class="card-deck">
              <% booksArr.forEach( (book) => { %>

                <div class="card ">
                  <br>
                  <img class="card-img-top img-fluid mx-auto d-block" src="/<%= book.image %>" alt="<%= book.title + " " + ' image' %>" >
                  <div class="card-body d-flex flex-column">
                    <p class="card-text text-center"><strong><i><%= book.title %></i></strong> <br>
                      <%= book.author %></p>
                    <a href="<%= '/book_profile/'+ book.book_id %>" class="btn btn-info btn-block mt-auto"> Więcej </a>
                  </div>
                </div>

                <% }) %>
            </div>
          </div>

        </div>

        <% } %>
    </div>

    <%- include('footer.ejs') %>
</body>

</html>