<!DOCTYPE html>
<html>
<head>
    <%- include('header.ejs') %>
</head>
<body>
<%- include('navbar.ejs') %>

<div class="container text-center">
    <div class="row">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="/images/hermiona.jpg" alt="" class="center-block img-circle img-responsive">
                        </div><!--/col-->

                        <div class="col-xs-12 col-sm-8">
                            <h1> <%= userData.username %> </h1>
                            <h4><strong> Imię: </strong> <%= userData.username %> </h4>
                            <h4><strong> Adres email: </strong> <%= userData.email %> </h4>
                        </div><!--/col-->

                        <div class="col-xs-12 col-sm-4">
                            <h2><strong> 0 </strong></h2>
                            <p><small>Książek</small></p>
                            <button class="btn btn-block"><span class="fa fa-hourglass-half"></span> Czytam </button>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>0</strong></h2>
                            <p><small>Książek</small></p>
                            <button class="btn btn-block"><span class="fa fa-hourglass-start"></span> Chcę przeczytać </button>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>0</strong></h2>
                            <p><small>Ksiażek</small></p>
                            <button type="button" class="btn btn-block"><span class="fa fa-hourglass-end"></span> Przeczytane </button>
                        </div><!--/col-->
                    </div><!--/row-->
                </div><!--/panel-body-->
            </div><!--/panel-->

    </div>
</div>

<%- include('footer.ejs') %>
</body>
</html>
